$base-color: #2E7D32;
$base-gradient: bevel;
$font-family: Cinzel, sans-serif;
$button-default-background-color: #C62828;
$button-default-background-color-focus-over: #3CA241;
$button-default-background-color-focus-pressed: #3CA241;
$button-default-background-color-over: #43B548;
$button-default-background-color-pressed: #3CA241;
$button-default-background-gradient: bevel;
$button-default-base-color: #E57373;
$panel-header-background-color: #2E7D32;
$panel-header-background-gradient: bevel;
$datepicker-background-color: #FB8C00;
$datepicker-column-header-background-gradient: bevel;
$datepicker-header-background-color: #2E7D32;
$datepicker-header-background-gradient: bevel;
$datepicker-item-color: #1A237E;
$grid-row-cell-font-size: 13px;
$window-border-color: #E6E6E6;
$window-border-radius: 10px 10px 10px 10px;
$window-header-background-color: #C62828;
$window-header-color: #FFFFFF;
$window-header-glyph-color: #FFFFFF;
$grid-column-header-color: #FFFFFF;
$grid-column-header-focus-background-color: #FF5722;
$grid-column-header-focus-border-color: #EF5350;
$grid-column-header-font-weight: 700;
$grid-header-background-color: #388E3C;
$grid-header-background-gradient: bevel;
$themer-mixin-schema-timestamp: c4a290cb646e70f7c52c7ccef18b83fe44dc790d;